.page-main {
  margin: 0 auto;

}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #ffffff;
  border: 2px solid #0a0a0a2e;
  border-radius: 12px;
  padding: 24px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  background-color: #ffffff;
  border: 2px solid #0a0a0a2e;
  border-radius: 12px;
  padding: 24px;
}
.field_input {
  font-size: 1rem;
  width: 100%;
  color: #1b1f24;
  background-color: #e7ebf0;
  border: 1px solid #dde2e8;
  border-radius: 4px;
  padding: 8px 12px;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 18px;
}

.signup-login-btn {
  font-size: 1rem;
  color: #060606;
  border-radius: 12px;
  padding: 8px 16px;
}

.message {
  width: 100%;
  font-size: 16px;
  text-align: center;
  color:#1b1f24;
  margin: 0 auto;
  padding:16px;
}

.submit-btn {
  align-self: center;
  width:40%;
  font-size: 1rem;
  color:#060606;
  border-radius: 12px;
  padding: 8px 16px;
  margin: auto;

}
.submit-btn:hover {
  background-color: #b5b5b5;
}
